

<ion-content [fullscreen]="true">



  <div [style.background-image]="'url(' + 'assets/imgs/12.png' +')'">
    <ion-grid [class]="'ion-text-center'">
      <ion-row>
        <ion-col [offset]="0">
          <ion-label  [color]="'light'">
asasas
          </ion-label>
          <p >
            <ion-text [color]="'light'">
             sdsdsd
            </ion-text>
          </p>

        </ion-col>
      </ion-row>

      <ion-row class="ion-margin-top">
        <ion-col [offset]=" 0">
          <ion-button shape="round" [color]=" 'primary'" >
            <ion-text
              [class]="'ion-margin-horizontal ion-padding-horizontal'">
            ssss
            </ion-text>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
